{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}

{% block main %}
<div class="gradient-bg">
  <h1 class="fw-bold display-5">Welcome to LeetCrack</h1>
  <p class="lead">Track problems, solve with AI, and improve your coding skills</p>
  <div class="mt-4">
    <a href="/login"><button class="btn btn-light btn-custom">Login</button></a>
    <a href="/register"><button class="btn btn-dark btn-custom ms-2">Register</button></a>
  </div>
</div>
<div class="gradient-bg">
    <div class="mt-2">
        <h1 class="fw-bold display-6">Over 3500 Problems from Leetcode</h1>
        <p>Track problems you solve from every problem on leetcode </p>
    </div>

</div>
<div class="gradient-bg">
     <div class="mt-2">
        <h1 class="fw-bold display-6">Get AI solutions in seconds!</h1>
        <p>Get the intuition, approach, code and complexity analysis of any problem you want </p>
         <img url="">
    </div>
</div>
{% endblock %}
